<!-- ./employee/templates/employee/list.html -->

{% extends 'base.html' %}

{% block title %}
    <title>Employee List</title>
{% endblock title %}

{% block content %}
    <h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em;">Employees Information</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Designation</th>
                <th scope="col">Level</th>
                <th scope="col">Email ID</th>
            </tr>
        </thead>
        <tbody>
            {% for emp in employees %}
                <tr>
                    <th scope="row">{{ emp.first_name }}</th>
                    <td>{{ emp.last_name }}</td>
                    <td>{{ emp.designation }}</td>
                    <td>{{ emp.level }}</td>
                    <td>{{ emp.email_id }}</td>
                    <td>
                        <a style="margin-right: 30px;" href="{% url 'edit-employee' emp.email_id%}">Edit</a>
                        <a href="{% url 'delete-employee' emp.email_id%}">Remove</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        <a href="{% url 'create-employee' %}"><button type="button" class="btn btn-primary">Add New Info</button></a>
    </div>
{% endblock content %}